<div class="navbar navbar-fixed-top">
  <div class="navbar-inner fill">
    <div class="container-fluid">
      <%= link_to "Return to SocialFreight", main_app.root_url, class: "btn btn-success" %>
      <div class="nav-collapse">
        <div class="pull-right">
          <ul class="nav pull-right">

          </ul>
        </div>
      </div>
    </div>
  </div>
</div>