<div id="article_<%= @article.id %>_page" class="row">

  <% if current_user && current_user.id == @article.author_id %>
    <% content_for(:breadcrumb_actions, flush: true) do %>
      <%= render "actions", article: @article %>
    <% end %>
  <% end %>

  <%= render "shared/page_title", page_title: "Blog", page_small_title: "Blog paylaşımları", model_name: "articles", model_path: "blogger/articles" %>

  <div class="col-md-12 blog-page">
    <div class="row">
      <div class="col-md-9 col-sm-8 article-block">
        <%=  render @article %>
      </div>
    </div>
  </div>

</div>
